<div class="row">
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Giá trị cài đặt</th>
      <th scope="col">Giá trị đo</th>
      <th scope="col">Bơm tăng EC</th>
      <th scope="col">Bơm giảm EC</th>
      <th scope="col">Bơm tăng pH</th>
      <th scope="col">Bơm giảm pH</th>
      <th scope="col">Bơm dung dịch</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">EC (mS/cm2)</th>
      <td><span id="setEC">..</span></td>
      <td><span id="EC">..</span></td>
      <td><span id="B0">..</span></td>
    </tr>
    <tr>
      <th scope="row">pH</th>
      <td><span id="setpH">..</span></td>
      <td><span id="pH">..</span> </td>
      <td><span id="B1">..</span></td>
    </tr>
    <tr>
      <th scope="row">Nhiệt độ (&#176C)</th>
      <td></td>
      <td><span id="tempEnv">.. </span> </td>
      <td><span id="B0">..</span></td>
    </tr>
    <th scope="row">Độ ẩm</th>
      <td></td>
      <td><span id="humd">.. %</span></td>
      <td><span id="B0">..</span></td>
    </tr>
  </tbody>
</table>

  