<!DOCTYPE html>
<html lang="en"><head>
	<title> Demo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="bootstrap.js"></script>
	<script type="text/javascript" src="script/isensor.js"></script>
	<link rel="stylesheet" href="bootstrap.css">

 	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="jquery.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-push-1">
				<table class="table table-hover">
					<thead>
						<tr class="bg-success text-center">
							<td colspan="5">Thêm cảm biến</td>
						</tr>
						<tr class="bg-primary">
							<th>ID</th>
							<th>Tên cảm biến</th>
							<th>Hình ảnh</th>
							<th>Mô tả</th>
							<th>Edit - Delete</th>
						</tr>
						<tr>
							<td>01</td>
							<td>Cảm biến EC</td>
							<td><img src="images/pHSensor.PNG" alt=""></td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cum, neque nemo nostrum non error eum sed?</td>
							<td><a href="">Edit</a> - <a href="">Delete</a></td>
						</tr>
						<tr>
							<td>02</td>
							<td>Cảm biến EC</td>
							<td><img src="images/pHSensor.PNG" alt=""></td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cum, neque nemo nostrum non error eum sed?</td>
							<td><a href="">Edit</a> - <a href="">Delete</a></td>
						</tr>
					</thead>
				</table>
				 <button type="button" class="btn btn-primary" onclick="confirm()">Xác nhận</button>
				 <script>
				 	function confirm(){
				 		alert("Yêu cầu của bạn đã được gửi đi. Cảm ơn bạn đã sử dụng dịch vụ.");
				 	}
				 </script>
			</div>
		</div>
	</div>
	
</body>            
</html>