<!DOCTYPE html>
<html lang="en"><head>
    <title> Đồ thị </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <script src="jquery.js"></script> 
    <script src="chart.js"></script>
    <script src="chartColor.js"></script>
    <link rel="stylesheet" href="style/dothi.css">
    <script src="bootstrap.js"></script>
   <script type="text/javascript" src="https://thuycanh.herokuapp.com/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="script/dothi.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>
<body >
    <div class="wrap">
   <!--  start header -->
    <div class="header hidden-xs">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-md-push-1">
               <a href="http://www.shinko.vn"><img src="./images/shinko_logo.png" alt="logo" class="img-responsive"></a>
            </div>   
        </div>
    </div>
    <!-- end header -->
   <!--  start nav menu -->
           
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>   
                <a class="navbar-brand hidden-xs" href="/"><i class="fa fa-home"></i></a>            
            </div>          
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav menu">
                    <li><a href="/trangchu">Trang chủ</a></li>
                    <li><a href="/">Điều khiển</a></li>
                    <li><a href="/sanpham">Sản phẩm</a></li>
                    <li class="active"><a href="/dothi">Đồ thị</a></li>
                </ul>
            </div>
        </div>
    </nav>
   <!--  end nav menu -->

    <!-- Start Chart -->
    <canvas id="myChart" width="400" height="500"></canvas>
<script>
    var socket = io("http://207.148.119.205");

var EC = [];
var pH = [];
var date = [];
var tempEnv = [];
var tempWater = [];

socket.on("server send statusSystem", (data)=>{
    EC = [];
    pH = [];
    date = [];
    tempEnv = [];
    tempWater = [];
    data.forEach((item)=>{
        EC.push(item.EC);
        pH.push(item.pH);
        tempWater.push(item.tempWater);
        tempEnv.push(item.tempEnv);
        date.push(item.date);
    });
});
setTimeout(()=>{
    var ctx = document.getElementById("myChart").getContext('2d');
            ctx.canvas.width = 1000;
            ctx.canvas.height = 300;
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                label: '# EC',
                data: EC,
                borderColor: window.chartColors.red,
                backgroundColor: window.chartColors.red,
                fill: false,
                pointRadius: 0,
            },
            {
                label: '# pH',
                data: pH,
                borderColor: window.chartColors.blue,
                backgroundColor: window.chartColors.blue,
                fill: false,
                pointRadius: 0,
            },
             {
                label: '# TempEnv',
                data: tempEnv,
                borderColor: window.chartColors.orange,
                backgroundColor: window.chartColors.orange,
                fill: false,
                pointRadius: 0,
            },
             {
                label: '# TempWater',
                data: pH,
                borderColor: window.chartColors.yellow,
                backgroundColor: window.chartColors.yellow,
                fill: false,
                pointRadius: 0,
            }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}, 5000);
</script> 
   <!--  End Chart -->
    
   <!--  Start Footer -->
   <div class="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        
                    
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-push-1">
                            <h3>Người thực hiện</h3>
                            <p color: white>Nhóm sinh viên PFIEV thực tập tại công ty nghiên cứu phát triển Shinko Technos Việt Nam. Và em xin chân thành cảm ơn các anh Thắng, Huy, chị Kỳ và thầy Thanh đã hết lòng giúp đỡ để hoàn thiện sản phẩm này.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
   <!-- End Footer -->
</div>
</body>
</html>
 