<!DOCTYPE html>
<html lang="en"><head>
	<title> Trang chủ </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<script src="jquery.js"></script> 
	<link rel="stylesheet" href="./style/trangchu.css">
	<script src="./bootstrap.js"></script>
	<script type="text/javascript" src="./script/trangchu.js"></script>
	<link rel="stylesheet" href="./bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>
<body >
    <div class="wrap">
	<!-- start header -->
    <div class="header hidden-xs">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-md-push-1">
               <a href="http://www.shinko.vn"><img src="./images/shinko_logo.png" alt="logo" class="img-responsive"></a>
            </div>	
    	</div>
    </div>
    <!-- end header -->
    <!-- start nav menu -->
           
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>   
                <a class="navbar-brand hidden-xs" href="/"><i class="fa fa-home"></i></a>            
            </div>          
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav menu">
                    <li><a href="/trangchu">Trang chủ</a></li>
                    <li ><a href="/">Điều khiển</a></li>
                    <li class="active"><a href="/sanpham">Sản phẩm</a></li>
                    <li><a href="/dothi">Đồ thị</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end nav menu -->

    

    <!--  Start Footer -->
   <div class="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                    
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-push-1">
                            <h3>Người thực hiện</h3>
                            <p color: white>Nhóm sinh viên PFIEV thực tập tại công ty nghiên cứu phát triển Shinko Technos Việt Nam. Và em xin chân thành cảm ơn các anh Thắng, Huy, chị Kỳ và thầy Thanh đã hết lòng giúp đỡ để hoàn thiện sản phẩm này.</p>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <!-- End Footer -->
</div>
</body>
</html>
